/*
  relation : index.php
  auther : MagmaChocolate
  lang : css, ja-jp
*/

header{
  height: 54px;
  background-color: #eaecf0;
}
.fa-bars{
  padding-top: 15px;
  text-align: center;
  color: #222;
}
div .search-area{
  background-color: white;
  height: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #222;
}
.fa-search{
  margin-top: 10px;
}
input.search-text{
  height: 34px;
  font-size: 16px;
  border:none;
  background:none;
}

/*サイドメニュー*/
.drawer-nav{
  background-color: #eaecf0 ;
}
.list-contents{
  display:block;
  height: 49px;
  border-bottom: solid 1px #222;
  position: relative;
  background-color: white;
}
.list-contents i{ /*icon font*/
  float: left;
  height: 49px;
  width: 20px;
  line-height: 49px;
  margin-left: 10px;
}
.list-text{
  float: left;
  height: 49px;
  line-height: 49px;
  margin-left: 10px;
}
.list-blank{
  height: 20px;
  background-color: #eaecf0;
  border-bottom: solid 1px #222;
}
.menu-newpage{
  border-top: solid 0px #222;
  box-sizing: border-box;
}


/* 記事 */
div.main-contents h1{ /* タイトル */
  font-size: 1.7em;
  font-family: 'Linux Libertine','Georgia','Times',serif;
  margin-top: 20px;
  margin-left: 5px;
  padding-bottom: 10px;
}

div.tools{  /* 記事操作ツールのボタン */
  width: 100%;
  height: 46px;
  border-top: solid #eaecf0 1px;
  border-bottom: solid #c8ccd1 1px;
}
i.fa-pencil{
  float: right;
  margin-right: 10px;
  height: 46px;
  line-height: 46px;
}

ul.breadcrumb-list{ /* パンくずリスト */
  margin-top: 2px;
  padding-left: 0px;
  font-size: 1.1em;
}
ul.breadcrumb-list li.breadcrumb-contents{
  display: inline;
}
ul.breadcrumb-list li.breadcrumb-contents:before{
  content: ' > '; /* li要素の前に>>記号を追加 */
}
ul.breadcrumb-list li:first-child:before {
content: ''; /* 最初のli要素から>>記号を消す */
}
ul.breadcrumb-list li:last-child {
  font-weight: bold;
}


div.eyecatch{ /* アイキャッチ画像 */
  /*background-image: url("./img/xlr-600x300.jpg");*/
  background-image: url("./img/xlr-200x118.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 100%;
  height: 190px;
  box-sizing: border-box;
  border: solid 1px #222;
  background-color: #00F;
}


div.description{ /* 簡易説明 */
  margin-top: 8px;
  margin-bottom: 16px;
  line-height: 1.5em;
}


div.main-text h2{ /* セクション区切り */
  border-bottom: solid 1px #eaecf0;
}
div.main-text h2 i.fa-caret-down,
div.main-text h2 i.fa-caret-up{
  margin-left: 5px;
  margin-right: 5px;
}

div.main-text div.main-text-in-section{
  display: none;
}
div.main-text-in-section p{ /* 文章 */
  margin-top: 8px;
  margin-bottom: 16px;
  line-height: 1.5em;
}
